body, html {
  height: 100%;
  margin: 0;
  overflow: hidden;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: #BB8FCE;
}

.container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: auto;
}

#message {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}

#flowers {
  width: 40rem ; 
  margin: 0 ;
}
/* Media query para dispositivos móviles */
@media only screen and (max-width: 600px) {
  #message {
    font-size: 18px; /* Reducir el tamaño del texto para dispositivos móviles */
    text-align: center;
  }

  #flowers {
    width: 100%; /* Hacer que el ancho sea 100% del contenedor para dispositivos móviles */
    font-weight: bold;
    margin: 0 auto; /* Centrar el elemento en dispositivos móviles */
  }
}


#confetti {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 1;
}

.confetti {
  width: 10px;
  height: 10px;
  background-color: #f00;
  position: absolute;
  border-radius: 50%;
  animation: confetti-fall 5s linear infinite;
}

@keyframes confetti-fall {
  0% {
    transform: translateY(-100vh) rotateZ(0);
  }
  100% {
    transform: translateY(100vh) rotateZ(360deg);
  }
}
